.new-goal {

  min-height: 100vh;
  background-color: #cacdde;

  .page-banner {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
  }

  .new-goal-container {
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form {
      width: 55%;
      height: auto;
      margin: auto;

      .no-input {
        border-bottom: 1px solid red !important;
      }


    .label {
      padding: 10px 0;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
    }

    .semi-label {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
    }

    .title-input {
      width: 100%;
      height: 30px;
      margin: 20px 0;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      background-color: #cacdde;
    }

      .date-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    .add-task-container {
      min-width: 540px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .task-input {
        width: 80%;
        height: 30px;
        margin: 20px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        background-color: #cacdde;
      }

      .add-task-btn {
        width: 70px;
        height: 25px;
        background-color: #3851cf;
        border: none;
        outline: none;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .add-icon {
          width: 10px;
          height: 10px;
        }
      }
    }
    .create-btn-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .create-goal-btn {
        width: 200px;
        height: 35px;
        margin: 20px 0;
        background-color: #3851cf;
        border: none;
        outline: none;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
      }
    }
    }
    .task-list-task {
      width: 100%;
      margin: 20px 0;
      font-weight: 400;

      .task {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .bullet {
          width: 16px;
          height: 16px;
          margin: 5px 10px 0 0;
        }

        .remove-task {
          width: 12px;
          height: 12px;
          margin-left: 10px;
          cursor: pointer;
        }
      }

      .task-underline {
        width: 98%;
        height: 0.5px;
        margin: 10px auto;
        background-color: #0b1233;
        opacity: 0.2;
      }
    }
  }
}

.custom-date {
  width: 150px;
  height: 30px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}